<div class="house-column" [style.background-color]="backgroundColor()">
    <div class="house-column__crest">
        <p class="house-column__text">
            {{ house().name }} 
        </p>

        <app-house-crest [crestType]="house().name" />
    </div>

    <div class="house-column__fill" [ngStyle]="isMobile ? {'width.%': fillValue()} : {'height.%': fillValue()}"
        [style.background-color]="houseColor()">
        <p class="house-column__points">{{ house().points }}</p>
    </div>
</div>